<h1>Welcome to Gorillia Gardening</h1>

<div style="width: 45%; display: inline-block; border: 2px solid black; padding: 1%; vertical-align: top;">
    <h2>Register:</h2>
    <partial name="RegPartial"> </partial>

</div>
<div style="width: 45%; display: inline-block; border: 2px solid black; padding: 1%; vertical-align: top;">
    <h2>Login:</h2>
    <partial name="LogPartial"></partial>
</div>