@model List<Tree>

<form asp-action="SearchLoc" asp-controller="Home" method="post">
    <span>Location</span>
        <label for="treeLoc" value="treeLoc" name="treeLoc"></label>
        <textarea for="treeLoc"></textarea>
    <button type="submit" value="submit">Search by Location</button>
</form> 